<ion-header>
    <ion-toolbar>
        <ion-title>Editar Perfil</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="closeModal()">Cancelar</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <form [formGroup]="form">
        <ion-item>
            <ion-label position="floating">Nome</ion-label>
            <ion-input formControlName="firstName" type="text"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Sobrenome</ion-label>
            <ion-input formControlName="lastName" type="text"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Foto de Perfil</ion-label>
            <app-file-input formControlName="profilePicture"></app-file-input>
        </ion-item>          
        <div *ngIf="profilePicturePreview" class="image-preview">
            <img [src]="profilePicturePreview" alt="Preview da Foto de Perfil" />
        </div>
        <ion-button expand="full" color="primary" (click)="saveProfileData()">Salvar</ion-button>
    </form>
</ion-content>