<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <div style="display: flex; align-items: center;">
        <img src="assets/logo.png" class="logo-finsavior">
        <ion-title style="margin: 0;">Login</ion-title>
      </div>
    </ion-buttons>
    <ion-buttons slot="end" style="margin-bottom: auto; margin-top: -9px;">
      <ion-button fill="clear" (click)="goBack()">
      <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="overlay" *ngIf="loading">
    <div class="custom-loader"></div>
  </div>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Entrar</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form (ngSubmit)="onLogin()">
        <ion-item>
          <ion-label position="floating">Usuário ou email</ion-label>
          <ion-input [(ngModel)]="userLogin" name="username" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Senha</ion-label>
          <ion-input [(ngModel)]="password" name="password" type="password" required></ion-input>
        </ion-item>

        <ion-item lines="none">
          <ion-label>Lembrar-me</ion-label>
          <ion-checkbox [(ngModel)]="rememberMe" name="rememberMe"></ion-checkbox>
        </ion-item>

        <ion-button expand="block" type="submit" [disabled]="!userLogin || !password">Login</ion-button>
        <div style="margin-bottom: 20px;">
          <ion-button color="light" expand="block" (click)="googleSignIn()">
            <ion-icon src="assets/google.svg"></ion-icon>
            <ion-text style="margin-left: 10px; text-align: center;">Continue with Google</ion-text>
          </ion-button>
        </div>
      </form>

      <div class="ion-text-center">
        <ion-text>Não tem uma conta? <a (click)="navigateTo('register')">Cadastre-se</a></ion-text><br>
        <a (click)="navigateTo('password-forgotten')">Esqueci minha senha</a>
      </div>
    </ion-card-content>
    <div style="display: flex; justify-content: center; align-items: center; max-width: 100px; max-height: 100px; margin: 0 auto;">
      <img src="assets/logo.png" style="max-width: 100%; max-height: 100%; margin-bottom: 15px;">
    </div>
  </ion-card>
</ion-content>
<ion-footer class="footer-container">
  <div class="footer-content">
    <ion-text>Precisa de ajuda?</ion-text>
    <ion-button expand="full" (click)="navigateTo('ticket')" class="ticket-button">
      <ion-icon slot="start" name="help-circle-outline"></ion-icon>
      Abra um ticket aqui
    </ion-button>
  </div>
</ion-footer>