<ion-header>
  <ion-toolbar>
    <ion-title>Ativos & Caixa</ion-title>
  </ion-toolbar>
</ion-header>

<app-toast></app-toast>

<ion-content class="ion-padding">
  <div class="overlay" *ngIf="loading">
    <div class="custom-loader"></div>
  </div>

  <div class="animated-bg">
    <div class="bubble bubble1"></div>
    <div class="bubble bubble2"></div>
    <div class="bubble bubble3"></div>
    <div class="bubble bubble4"></div>
    <div class="bubble bubble5"></div>
  </div>

  <ion-button expand="block" (click)="openAddRegisterModal()">Adicionar Registro</ion-button>
  
  <ion-list *ngIf="!loading">
    <ion-item *ngFor="let item of incomeRows">
      <ion-label>
        <h2>{{ item.billName }}</h2>
        <p>Valor: {{ item.billValue }}</p>
        <p>Tipo: {{ item.billType }}</p>
        <p>Descrição: {{ item.billDescription }}</p>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button color="primary" (click)="openEditModal(item)">
          <ion-icon name="create"></ion-icon>
        </ion-button>
        <ion-button color="danger" (click)="deleteItem(item)">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>
  <app-voice-fab 
      tableType="MAIN" 
      (onBillDetected)="onVoiceDataReceived($event)">
  </app-voice-fab>
</ion-content>