<ion-header>
  <ion-toolbar>
    <ion-title>Débitos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-spinner *ngIf="loading"></ion-spinner>

  <form [formGroup]="mainTableForm" (ngSubmit)="addRegisterMain()" *ngIf="!loading">
    <ion-item>
      <ion-label position="floating">Nome da Conta</ion-label>
      <ion-input formControlName="billName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Valor</ion-label>
      <ion-input type="number" formControlName="billValue"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Descrição</ion-label>
      <ion-input formControlName="billDescription"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Tipo</ion-label>
      <ion-select formControlName="selectedType" interface="action-sheet">
        <ion-select-option *ngFor="let type of billTypes" [value]="type.value">{{ type.label }}</ion-select-option>
      </ion-select>
    </ion-item>    
    <ion-button expand="block" type="submit" [disabled]="mainTableForm.invalid">Adicionar Débito</ion-button>
  </form>

  <ion-list *ngIf="!loading && rows.length > 0">
    <ion-item *ngFor="let item of rows">
      <ion-label>
        <h2>{{ item.billName }}</h2>
        <p>Valor: {{ item.billValue }}</p>
        <p>Tipo: {{ item.billType }}</p>
        <p>Descrição: {{ item.billDescription }}</p>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button color="danger" (click)="deleteItem(item)">Excluir</ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>

  <p *ngIf="!loading && rows.length === 0" class="ion-text-center">Nenhum débito encontrado.</p>
</ion-content>
