<ion-header>
  <ion-toolbar>
    <ion-title>Resumo Financeiro</ion-title>
    <ion-button slot="end" fill="outline" (click)="navigateToDashboard()" style="margin-right: 5px;" shape="round" size="small" color="tertiary">
      Gráficos & Dash
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="overlay" *ngIf="loading">
    <div class="custom-loader"></div>
  </div>
  
  <div *ngIf="!loading">

    <ion-button expand="block" color="secondary" (click)="openAiAdviceDialog()">Obter Conselhos da IA</ion-button>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Situação Atual</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-card-subtitle>Descrição do status</ion-card-subtitle>
        <p [style.color]="situationColor">{{ situation }}</p>
        <ion-label>{{ situationDescription }}</ion-label>
      </ion-card-content>
    </ion-card>

    <div *ngIf="!loading">  
      <ion-card *ngFor="let card of cards">
        <ion-card-header>
          <ion-card-title>{{ card.title }}</ion-card-title>
        </ion-card-header>
        <ion-card-content class="card-content">
          <p class="value">{{ card.value | number: '1.2-2' }}</p>
          <ion-button fill="clear" class="help-icon" (click)="showDescription(card.description)">
            <ion-icon slot="icon-only" name="help-circle"></ion-icon>
          </ion-button>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>
