<ion-header>
  <ion-toolbar>
    <ion-title>Editar Registro</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">Fechar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="editForm" (ngSubmit)="saveEdit()">
    <ion-item>
      <ion-label position="stacked">Nome</ion-label>
      <ion-input formControlName="billName" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Descrição</ion-label>
      <ion-input formControlName="billDescription" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Valor</ion-label>
      <ion-input formControlName="billValue" type="number"></ion-input>
    </ion-item>
    <ion-button expand="block" type="submit" [disabled]="editForm.invalid">Salvar</ion-button>
  </form>
</ion-content>
