<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
      <ion-label>{{ selectedMonthYear }}</ion-label>
      <ion-button (click)="openDatePicker()">
        <ion-icon slot="icon-only" name="calendar"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end" class="profile-info">
      <ion-button id="avatar-button" fill="clear">
        <ion-label *ngIf="userData?.firstName" class="user-name">
          Bem vindo, {{ userData.firstName }}
        </ion-label>
        <ion-avatar class="profile-avatar" *ngIf="isProfileReady">
          <ng-container *ngIf="userData?.profilePicture; else fallbackIcon">
            <img [src]="userData.profilePicture" alt="Foto de Perfil">
          </ng-container>
          <ng-template #fallbackIcon>
            <img src="assets/default-profile.png" alt="Foto de Perfil">
          </ng-template>
        </ion-avatar>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-popover
    trigger="avatar-button"
    dismissOnSelect="true"
    mode="ios"
    side="bottom"
    alignment="end">
    <ng-template>
      <ion-list lines="none">
        <ion-item button (click)="navigateTo('my-account')">
          <ion-icon slot="start" name="person-circle-outline"></ion-icon>
          <ion-label>Minha Conta</ion-label>
        </ion-item>
        <ion-item button (click)="logout()">
          <ion-icon slot="start" name="log-out-outline"></ion-icon>
          <ion-label>Sair</ion-label>
        </ion-item>
      </ion-list>
    </ng-template>
  </ion-popover>
</ion-header>

<div *ngIf="showDropdown" class="dropdown-menu">
  <ng-container *ngIf="!isAuthenticated; else loggedInMenu">
    <ion-item>
      <ion-label position="floating">Usuário</ion-label>
      <ion-input [(ngModel)]="userLogin"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Senha</ion-label>
      <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-checkbox [(ngModel)]="rememberMe"></ion-checkbox>
      <ion-label>Lembrar-me</ion-label>
    </ion-item>
    <ion-button expand="block" (click)="login()">Entrar</ion-button>
  </ng-container>

  <ng-template #loggedInMenu>
    <ion-item (click)="navigateTo('my-account')">Minha Conta</ion-item>
    <ion-item (click)="logout()">Sair</ion-item>
  </ng-template>
</div>

<ion-menu side="start" menuId="main-menu" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item (click)="navigateTo('my-account')">Minha Conta</ion-item>
      <ion-item (click)="navigateTo('ticket')">Fale conosco</ion-item>
      <ion-item (click)="navigateTo('billtypes-guide')">Guia de contas</ion-item>
      <ion-item (click)="upgradeToPro()">Assinatura premium</ion-item>
      <ion-item (click)="goToAboutApp()">Sobre o FinSavior</ion-item>
      <ion-item (click)="goToAboutDev()">Sobre o Desenvolvedor</ion-item>
      <ion-item (click)="openThemeModal()">Tema</ion-item>
      <ion-item (click)="logout()">Sair</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-content id="main-content" class="ion-padding">
  <div class="animated-bg">
    <div class="bubble bubble1"></div>
    <div class="bubble bubble2"></div>
    <div class="bubble bubble3"></div>
    <div class="bubble bubble4"></div>
    <div class="bubble bubble5"></div>
  </div>

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="debits">
        <ion-icon name="wallet"></ion-icon>
        <ion-label>Débitos</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="card-details">
        <ion-icon name="card"></ion-icon>
        <ion-label>Cartão</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="assets">
        <ion-icon name="cash"></ion-icon>
        <ion-label>Ativos</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="summary">
        <ion-icon name="stats-chart"></ion-icon>
        <ion-label>Resumo</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="ai-analysis">
        <ion-icon name="bar-chart"></ion-icon>
        <ion-label>IA</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="subscription">
        <ion-icon name="card"></ion-icon>
        <ion-label>Planos</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

  <ion-modal [isOpen]="isDatePickerOpen" (ionModalDidDismiss)="closeDatePicker()">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Selecione Mês e Ano</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="closeDatePicker()">Cancelar</ion-button>
            <ion-button (click)="confirmDateSelection()">Confirmar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-datetime
          #dateTimePicker
          [value]="billDate.toISOString()"
          presentation="month-year"
          [min]="'1900-05-31'"
          [max]="'2199-05-31'">
        </ion-datetime>
      </ion-content>
    </ng-template>
  </ion-modal>
  <div 
    class="savi-chat-bubble" 
    (mousedown)="startDrag($event)" 
    (mousemove)="drag($event)" 
    (mouseup)="endDrag($event)"
    (touchstart)="startDrag($event)" 
    (touchmove)="drag($event)" 
    (touchend)="endDrag($event)"
    (click)="goToSaviChat()"
    [style.left.px]="position.x"
    [style.top.px]="position.y"
    >
    <svg class="progress-circle" viewBox="0 0 36 36">
      <circle class="progress-circle-bg" cx="18" cy="18" r="16"></circle>
      <circle class="progress-circle-fill" cx="18" cy="18" r="16"></circle>
    </svg>
    <img src="assets/savi-avatar.png" alt="Savi" style="pointer-events: none;" />
    <span style="pointer-events: none;">Posso te ajudar!</span>
    <div *ngIf="showDragHint" class="drag-hint">
      Segure 1s e arraste para mover
    </div>
  </div>
</ion-content>
