<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="redirectToMainPage()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Converse com a <strong>Savi</strong> 🤖
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openPopover($event)">
        <ion-icon name="ellipsis-vertical-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-popover [isOpen]="isPopoverOpen" [event]="popoverEvent" (didDismiss)="isPopoverOpen = false">
      <ng-template>
        <ion-list>
          <ion-item (click)="clearChatHistory()">Limpar conversa</ion-item>
        </ion-list>
      </ng-template>
    </ion-popover>
  </ion-toolbar>

  <div class="savi-avatar-container">
    <img src="assets/savi-avatar.png" alt="Savi Avatar" class="savi-avatar" />
    <div class="savi-greeting">Olá! Sou a Savi, sua assistente financeira 🤖💰 Como posso te ajudar com suas finanças hoje? 💡</div>
  </div>
</ion-header>

<ion-content class="savi-chat" [scrollEvents]="true" (ionScroll)="onScroll($event)">
  <div class="overlay" *ngIf="loading">
    <div class="custom-loader"></div>
  </div>
  <ion-list>
    <ion-item *ngFor="let msg of chatHistory" [class.user-msg]="msg.role === 'user'" [class.savi-msg]="msg.role === 'assistant'">    
      <ion-label>
        <p *ngIf="msg.role === 'user'"><strong>Você:</strong> {{ msg.content }}</p>
        <p *ngIf="msg.role === 'assistant'"><strong>Savi:</strong> {{ msg.content }}</p>
      </ion-label>
    </ion-item>
    <ion-item *ngIf="isTyping" class="savi-msg">
      <ion-label>
        <p><strong>Savi:</strong> <span class="typing-indicator">digitando<span class="dot">.</span><span class="dot">.</span><span class="dot">.</span></span></p>
      </ion-label>
    </ion-item>  
  </ion-list>
  <ion-fab *ngIf="showScrollToBottomButton" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="scrollToBottom()">
      <ion-icon name="arrow-down-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>  
</ion-content>

<ion-footer class="chat-footer">
  <ion-item lines="none">
    <ion-input
      placeholder="Digite sua dúvida..."
      (ionChange)="userMessage = $event.detail.value"
      (keyup.enter)="sendMessage()"
      [value]="userMessage"
      inputmode="text"
      color="dark"
    ></ion-input>
    <ion-button slot="end" (click)="sendMessage()">
      <ion-icon name="send-outline"></ion-icon>
    </ion-button>  
  </ion-item>
</ion-footer>
