<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <div style="display: flex; align-items: center;">
        <img src="assets/logo.png" class="logo-finsavior">
        <ion-title style="margin: 0;">Guia de Contas</ion-title>
      </div>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="navigateTo('main-page')">Voltar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="animated-bg">
    <div class="bubble bubble1"></div>
    <div class="bubble bubble2"></div>
    <div class="bubble bubble3"></div>
    <div class="bubble bubble4"></div>
    <div class="bubble bubble5"></div>
  </div>

  <ion-card *ngFor="let card of cards">
    <ion-card-header>
      <ion-card-title>{{ card.title }}</ion-card-title>
    </ion-card-header>
    <ion-card-content class="card-content">
      <p>{{ card.description }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
