<ion-header>
  <ion-toolbar>
    <ion-title>FinSavior</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding landing-page">
  <div class="animated-bg">
    <div class="bubble bubble1"></div>
    <div class="bubble bubble2"></div>
    <div class="bubble bubble3"></div>
    <div class="bubble bubble4"></div>
    <div class="bubble bubble5"></div>
  </div>
  <img src="assets/logo.png" alt="FinSavior Logo" class="app-logo"/>
  <h1>Bem-vindo ao FinSavior!</h1>
  <p>Transforme suas finanças com a ajuda da tecnologia e IA.</p>
  <ion-button expand="block" color="primary" (click)="navigateTo('login')">Entrar</ion-button>
  <ion-button expand="block" color="secondary" (click)="navigateTo('register')">Cadastre-se</ion-button>
  <div style="margin-bottom: 20px;">
    <ion-button color="light" expand="block" (click)="googleSignUp()">
      <ion-icon src="assets/google.svg"></ion-icon>
      <ion-text style="margin-left: 10px; text-align: center;">Continue with Google</ion-text>
    </ion-button>
  </div>
  <ion-button expand="block" color="secondary" (click)="navigateTo('about-app')">Sobre o FinSavior</ion-button>
  <ion-button expand="block" color="secondary" (click)="navigateTo('about-dev')">Sobre o Desenvolvedor</ion-button>
</ion-content>
