<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Planos FinSavior</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="overlay" *ngIf="loading">
    <div class="custom-loader"></div>
  </div>

  <div class="plans-container" *ngIf="currentPlan && !checkout">
    <ion-card
      *ngFor="let plan of groupedPlans"
      class="plan-card"
      [class.active]="plan.monthly.type === currentPlan.planDs || plan.yearly?.type === currentPlan.planDs"
    >
      <ion-card-header>
        <ion-card-title>{{ plan.name }}</ion-card-title>
        <ion-card-subtitle>{{ plan.monthly.priceMonthly }}</ion-card-subtitle>
        <small *ngIf="plan.yearly">ou {{ plan.yearly.priceYearly }}/ano</small>
        <ion-chip *ngIf="plan.monthly.trial || plan.yearly?.trial" color="success">
          Teste gratuito 7 dias*
        </ion-chip>
        <ion-chip *ngIf="plan.yearly" color="primary">
          Plano atual
        </ion-chip>
      </ion-card-header>

      <ion-card-content>
        <ul>
          <li *ngFor="let feature of plan.monthly.features">✔ {{ feature }}</li>
        </ul>
        <ion-button
          type="button"
          expand="block"
          [disabled]="plan.monthly.type === currentPlan.planDs || plan.yearly?.type === currentPlan.planDs"
          (click)="handlePlanButtonClick(plan)"
        >
          {{
            plan.monthly.type === currentPlan.planDs || plan.yearly?.type === currentPlan.planDs
              ? 'Plano Atual'
              : shouldShowCancelButton(plan)
                ? 'Cancelar plano atual'
                : 'Mudar para este plano'
          }}
        </ion-button>
      </ion-card-content>
    </ion-card>
    <p class="trial-note">* O período de teste gratuito é concedido apenas para a primeira assinatura.</p>
  </div>
  <ion-button fill="clear" (click)="cancelCheckout()" *ngIf="checkout">
    <ion-icon slot="start" name="arrow-back"></ion-icon>
    Voltar
  </ion-button>
  <div id="checkout"></div>
</ion-content>
