<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <div style="display: flex; align-items: center;">
        <img src="assets/logo.png" class="logo-finsavior">
        <ion-title style="margin: 0;">Recuperação de Senha</ion-title>
      </div>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="goBack()">
      <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="overlay" *ngIf="loading">
    <div class="custom-loader"></div>
  </div>

  <div class="animated-bg">
    <div class="bubble bubble1"></div>
    <div class="bubble bubble2"></div>
    <div class="bubble bubble3"></div>
    <div class="bubble bubble4"></div>
    <div class="bubble bubble5"></div>
  </div>

  <div class="recovery-container">
    <!-- Etapa 1: Enviar e-mail -->
    <div *ngIf="step === 1">
      <h2>Recuperar Senha</h2>
      <form [formGroup]="passwordRecoveryForm">
        <ion-item>
          <ion-label position="floating">E-mail</ion-label>
          <ion-input type="email" formControlName="identifier"></ion-input>
        </ion-item>
        <ion-button expand="block" (click)="sendRecoveryEmail()">Enviar</ion-button>
      </form>
    </div>

    <!-- Etapa 2: Redefinir senha -->
    <div *ngIf="step === 2">
      <h2>Redefinir Senha</h2>
      <form [formGroup]="resetPasswordForm">
        <ion-item>
          <ion-label position="floating">Token</ion-label>
          <ion-input type="text" formControlName="token"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Nova Senha</ion-label>
          <ion-input type="password" formControlName="newPassword"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Confirmar Senha</ion-label>
          <ion-input type="password" formControlName="confirmPassword"></ion-input>
        </ion-item>
        <ion-item *ngIf="errorMessage" color="danger">
          <ion-label>{{ errorMessage }}</ion-label>
        </ion-item>
        <ion-button expand="block" (click)="resetPassword()">Redefinir Senha</ion-button>
      </form>
    </div>
  </div>
</ion-content>