<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <div style="display: flex; align-items: center;">
        <img src="assets/logo.png" class="logo-finsavior">
        <ion-title style="margin: 0;">Minha conta</ion-title>
      </div>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="navigateTo('/main-page')">Voltar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="overlay" *ngIf="loading">
    <div class="custom-loader"></div>
  </div>

  <div class="profile-header">
    <img [src]="profilePicturePreview || 'assets/default-profile.png'" alt="Foto de Perfil" class="profile-picture">
    <h2>{{ profileDataForm.value.name }}</h2>
  </div>

  <div class="plans-container ion-margin-top">
    <ion-card class="plan-card active" *ngIf="profilePlan">
      <ion-card-header>
        <ion-card-title class="ion-text-center">{{ profilePlan.split('_')[1] }}</ion-card-title>
      </ion-card-header>
      <ion-card-content class="ion-text-center">
        <ion-label>
          Este é o seu plano atual.
        </ion-label>
        <ion-chip color="success" *ngIf="profilePlan === 'FREE'">Gratuito</ion-chip>
        <ion-chip color="warning" *ngIf="profilePlan === 'BASIC'">Básico</ion-chip>
        <ion-chip color="primary" *ngIf="profilePlan === 'PLUS'">Plus</ion-chip>
        <ion-chip color="tertiary" *ngIf="profilePlan === 'PREMIUM'">Premium</ion-chip>
      </ion-card-content>
    </ion-card>
  </div>

  <ion-button expand="full" (click)="openChangePasswordModal()">Alterar Senha</ion-button>
  <ion-button expand="full" (click)="openProfileEditModal()">Editar Perfil</ion-button>

  <ion-button *ngIf="profilePlan === 'FREE'" expand="full" color="success" (click)="navigateTo('/main-page/subscription')">
    Ver Planos Disponíveis
  </ion-button>
  
  <ion-button *ngIf="profilePlan !== 'FREE'" expand="full" color="warning" (click)="navigateTo('/main-page/subscription')">
    Alterar Plano
  </ion-button>

  <ion-button *ngIf="profilePlan !== 'FREE'" expand="full" color="primary" (click)="openCustomerPortal()">
    Atualizar Forma de Pagamento
  </ion-button>
  
  <ion-button *ngIf="profilePlan !== 'FREE'" expand="full" color="medium" (click)="confirmCancelSubscription()">
    Cancelar Assinatura
  </ion-button>  

  <ion-button expand="full" color="danger" (click)="openDeleteAccountModal()">Excluir Conta</ion-button>
</ion-content>
