<ion-header>
  <ion-toolbar>
    <ion-title>Minha Conta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="profile-header">
    <img [src]="profilePicturePreview || 'assets/default-profile.png'" alt="Foto de Perfil" class="profile-picture">
    <h2>{{ profileDataForm.value.name }}</h2>
  </div>

  <ion-button expand="full" (click)="openChangePasswordModal()">Alterar Senha</ion-button>
  <ion-button expand="full" (click)="openProfileEditModal()">Editar Perfil</ion-button>
  <ion-button expand="full" color="danger" (click)="openDeleteAccountModal()">Excluir Conta</ion-button>
  <ion-button expand="full" (click)="navigateTo('/main-page')">Voltar</ion-button>
</ion-content>