.error-msg {
    color: red;
    font-size: 0.9em;
    margin: 4px 16px 8px;
}

.disclaimer-text {
    font-size: 0.75rem;
    margin: 6px 16px 12px;
    display: block;
}

.logo-finsavior {
    max-width: 50px;
    max-height: 50px;
}