.error-msg {
    display: block;
    font-size: 0.8rem;
    margin: 0 0 15px 16px;
  }
  
  .disclaimer-text {
    font-size: 0.8rem;
    display: block;
    margin: 10px 0;
  }

.logo-finsavior {
    max-width: 50px;
    max-height: 50px;
}