<ion-header>
    <ion-toolbar>
        <ion-title>Detalhes da Análise</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="closeModal()">Fechar</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <div class="overlay" *ngIf="loading">
        <div class="custom-loader"></div>
    </div>

    <div *ngIf="!loading">
        <ion-card>
            <ion-card-header>
                <ion-card-title>Tipo: {{ analysis.analysisType }}</ion-card-title>
                <ion-card-subtitle>Período: {{ analysis.startDate }} - {{ analysis.finishDate }}</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
                <p>
                  <span [innerHTML]="formatMarkdown(analysis.resultAnalysis)"></span>
                </p>
            </ion-card-content>
        </ion-card>
        <ion-button expand="block" color="danger" (click)="confirmDeleteAnalysis()">Excluir Análise</ion-button>
    </div>
</ion-content>